
/*~~~~~~~~~~~~~~~~  Common  ~~~~~~~~~~~~~~~~*/
header {
  text-align: center;
  background: url('../../assets/img/skyline.jpg');
  background-size: cover;
  background-position: 0 0;
  color: white;
}
body{
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
h1 {
  color: black;
  font-size: 40px;
  padding-bottom: 100px;
}
h2 {
  color: black;
  font-size: 30px;
}
a:link, a:visited {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgba(21, 65, 103, 0.6);
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
/*~~~~~~~~~~~~~~~~  About me  ~~~~~~~~~~~~~~~~*/
.home {
  margin: 0 auto;
  max-width: 600px;
}
.profile {
}
.description {
  text-align: left;
}
/*~~~~~~~~~~~~~~~~  CV  ~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~  Bookings  ~~~~~~~~~~~~~~~~*/
.pagebackground {
  margin: 0 auto;
  max-width: 600px;
  /*background: url('pinstripe.png');*/
  padding-top: 50px;
  padding-bottom: 50px;
}
.bookings {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    max-width: 450px;
    background: white;
}
.calendar {
  padding-top: 20px
  background-color #9bcfea;
}
.location {
  padding-top: 20px;
  padding-bottom: 20px;
}
.form {
  /*background: url('assets/img/backgrounds/bg.jpg');*/
  padding-bottom: 80px;
}



